{% extends "index.html" %}

{% load static %}

{% block content%}
  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row">

      {% for smartphone in smartphones %}
        <div class="col-md-4">
        <h2>{{smartphone.name}}</h2>
        <a href="{% url 'phone' smartphone.slug %}">
          <img src="{{smartphone.image.url}}" width="180">
        </a>
        <form action="{% url 'add_to_cart' smartphone.slug %}" method="post">
          {%csrf_token%}
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
      {% endfor %}

    </div> <!-- /container -->

    <div style="display: flex; font-size: 30px; padding: 20px; justify-content: center;">
      <span>
        {% if smartphones.has_previous %}
          <a class="links" href="?page=1">&laquo; Первая</a>
          <a class="links" href="?page={{ data.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span >
          Страница {{ smartphones.number }} из {{ smartphones.paginator.num_pages }}.
        </span>

        {% if smartphones.has_next %}
          <a class="links" href="?page={{ data.next_page_number }}">Следующая</a>
          <a class="links" href="?page={{ data.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
{%endblock%}