{% extends "index.html" %}

{% load static %}

{% block content%}
  <div class="container">
    <!-- Example row of columns -->

    <h1>Смартфоны</h1>

    <div class="row">

      {%for smartphone in smartphones%}
        <div class="col-md-4">
        <h2>{{smartphone.name}}</h2>
        <a href="/phone/{{smartphone.slug}}">
          <img src="{{smartphone.image.url}}" width="180">
        </a>
        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </div>
      {%endfor%}


    </div> <!-- /container -->

  </div>
{%endblock%}